.font-highlight
{
   font-size: 1.3em !important;
   font-family: 'Franxurter Totally', sans-serif;
}

.background-gradient-caspercondom {
    background: rgb(57,4,226);
    background: -moz-linear-gradient(180deg, rgba(57,4,226,1) 0%, rgba(35,5,60,1) 85%);
    background: -webkit-linear-gradient(180deg, rgba(57,4,226,1) 0%, rgba(35,5,60,1) 85%);
    background: linear-gradient(180deg, rgba(57,4,226,1) 0%, rgba(35,5,60,1) 85%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#3904e2",endColorstr="#23053c",GradientType=1);
    background-repeat: no-repeat;
    min-height: 1080px;
    
}


.logo-casper-condom {
    margin-top: 20%;
    margin-bottom: 20%;
    margin-right: 20%;
    margin-left: 20%;
    width: auto;
    height: auto;
}

/* CSS for Flexbox Layout */
.navbar {
    display: flex; /* Use Flexbox for horizontal layout */
    justify-content: space-between; /* Align elements at extremes */
    align-items: center; /* Align vertically */
    padding: 10px; /* Add padding */
}

.navbar-home {
    color: #7BCDF4; /* Set text color to white */
    font-size: 1.2em; /* Adjust font size */
    font-family: 'Franxurter Totally', sans-serif;
    padding: 8px; /* Padding to match existing style */
}

.navbar-links {
    display: flex; /* Horizontal layout for list */
    list-style-type: none; /* Remove default list style */
    padding: 0; /* Remove default padding */
    margin: 0; /* Remove default margin */
}

.navbar-links li {
    margin-left: 15px; /* Add space between list items */
}

.navbar-links a {
    color: #7BCDF4 ; /* Set text color to white */
    text-decoration: none; /* Remove underline */
    padding: 14px 16px; /* Padding to match existing style */
    text-align: center; /* Center the text */
}

.navbar-links a:hover {
    text-decoration: none;
    color: #23053c; /* Text color on hover */
}


/*
ul {
    display: inline;
    list-style-type: none;
    float: right;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

li {
    float: left;
  }

a {
    display: inline;
    padding: 8px;
}


li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
*/
.logo-image{
    width: 46px;
    height: 46px;
    border-radius: 50%;
    overflow: hidden;
}