.font-highlight
{
   font-size: 1.3em !important;
   font-family: 'Franxurter Totally', sans-serif;
}

.background-gradient-caspercondom {
    background: rgb(57,4,226);
    background: -moz-linear-gradient(180deg, rgba(57,4,226,1) 0%, rgba(35,5,60,1) 85%);
    background: -webkit-linear-gradient(180deg, rgba(57,4,226,1) 0%, rgba(35,5,60,1) 85%);
    background: linear-gradient(180deg, rgba(57,4,226,1) 0%, rgba(35,5,60,1) 85%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#3904e2",endColorstr="#23053c",GradientType=1);
    background-repeat: no-repeat;
    min-height: 1080px;
    
}


.logo-casper-condom {
    margin-top: 20%;
    margin-bottom: 20%;
    margin-right: 20%;
    margin-left: 20%;
    width: auto;
    height: auto;
}

/* CSS for Flexbox Layout */
.navbar {
    display: flex; /* Use Flexbox for horizontal layout */
    justify-content: space-between; /* Align elements at extremes */
    align-items: center; /* Align vertically */
    padding: 10px; /* Add padding */
}

.navbar-home {
    margin-left: 2%;
    color: #7BCDF4; /* Set text color to white */
    font-size: 1.2em; /* Adjust font size */
    font-family: 'Franxurter Totally', sans-serif;
    padding: 8px; /* Padding to match existing style */
}

.navbar-links {
    display: flex; /* Horizontal layout for list */
    list-style-type: none; /* Remove default list style */
    padding: 0; /* Remove default padding */
    margin: 0; /* Remove default margin */
}

.navbar-links li {
    margin-left: 15px; /* Add space between list items */
}

.navbar-links a {
    color: #7BCDF4 ; /* Set text color to white */
    text-decoration: none; /* Remove underline */
    padding: 14px 16px; /* Padding to match existing style */
    text-align: center; /* Center the text */
}

.navbar-links a:hover {
    text-decoration: none;
    color: #23053c; /* Text color on hover */
}

#page-container {
    position: relative;
    min-height: 100vh;
  }
  
#content-wrap {
    padding-bottom: 2.5rem;    /* Footer height */
}

#footer {
    color: #7BCDF4 ; /* Set text color to white */
    position: absolute;
    bottom: 0;
    text-align: center;
    width: 100%;
    height: 2.5rem;            /* Footer height */
}
#kickstarter-footer-link {
    color: #7BCDF4 ; /* Set text color to white */
    list-style-type: none; /* Remove default list style */
}


* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade-animation-class {
  animation-name: fade-animation;
  animation-duration: 1.5s;
}

@keyframes fade-animation {
  from {opacity: .4}
  to {opacity: 1}
}

/*footer {
    text-align: center;
    display: block;
    padding: 3px;
    position: absolute; 
    
    bottom: 0;
    background-color: rgba(35,5,60,1);
    color: white;
  }*/
/*
ul {
    display: inline;
    list-style-type: none;
    float: right;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

li {
    float: left;
  }

a {
    display: inline;
    padding: 8px;
}


li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
*/
.logo-image{
    width: 46px;
    height: 46px;
    border-radius: 50%;
    overflow: hidden;
}